/* common css  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
	font-family: 'Poppins', sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  height: auto;
}
.container-main{
  width: 93%;
  margin: auto;
}
p, button, a, input, span, li {
	font-size: 16px;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.3rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.8rem;
}
/* theme color  */
.yamama-primary-color {
	color: #152756;
}
.yamama-primary-bg {
	background: #152756;
}
.yamama-secondary-color {
	color: #D10000;
}
.navbar {
	display: grid;
  grid-template-columns:  1fr 5fr;
  align-items: center;
  padding: 1rem 0 0.6rem 0;
  vertical-align: middle;
}
header{
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5.5px);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.19);
}
.navbar-logo {
  grid-column: 1/2;
}
.navbar-hamburger {
  display: none;
}
.navbar-links {
  grid-column: 2/3;
  display: flex;
  justify-content: end;
}
.navbar-links {
  display: flex;
  /* gap: 4rem; */
  margin: 0;
  vertical-align: middle;
}
.navbar-links li a {
  text-decoration: none;
  vertical-align: middle;
  color:  #000;
  font-weight: 500;
}
.navbar .nav-item .actives{
  color: #0E2664;
}
.navbar li{
  list-style: none;
}
.navbar{
  margin: auto;
}
header .navbar-logo img{
	max-width: 130px;
	width: 100%;
}
header .navbar .navbar-links .nav-item{
	padding: 0px 0px 0px 30px;
}
/* sidebar srtyle  */
.sidebar{
	width: 90%;
	min-width: 270px;
	max-width: 320px;
	height: 100%;
	position: fixed;
	top: 0px;
	overflow:auto !important;
	right: -320px;
	z-index: 20;
	transition: 0.2s ease;
	background: #EBEBEB;
	color: #000;
}
.sidebar i{
	font-size: 28px;
}
.open-cart{
	right: 0px !important;
}
.open-cartt{
	display:none;
}
.open-cart:before{
	content: '';
	position: fixed;
	top: 0px;
	height: 70vh;
	left: 0px;
	right: 0px;
	bottom: 0px;
	pointer-events: none;
	z-index: -1;
}
.navbar-sidebar {
	padding: 20px;
	margin-top: 55px;
}   
.navbar-sidebar ul li{
	list-style: none;
	background: #F9F9F9;
	padding: 8px 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	font-weight: 500;
}
.navbar-sidebar ul li a{
	text-decoration: none;
	color: #000;
	font-size: 13px !important;
}
.navbar-sidebar ul{
  padding: 0;
}
.menulogo img{
	display: none;
}
.sidebar .closse{
	position: absolute;
	top: 10px;
	right: 20px;    
	color: #000000;
}
.sidebar .navbar-sidebar .actives {
	color: #0E2664;
}
/* footer  */
/* footer style  */
footer{
	background: #ccf0fcd5;
	padding: 20px 0px 0px 0px;
}
footer p{
	margin: 0 !important;
	padding-bottom: px;
}
footer i{
	font-size: 24px;
	padding-right: 8px;
}
footer .logo-footer img{
	width: 150px;
	padding-bottom: 15px;
}
footer a:hover{
	color: #000 !important;
}
footer h5{
	font-weight: 600;
}
footer a{
	color: #000 !important;
	line-height: 1.9;
}
.footer-copy{
	background: #232323;
	padding: 7px;
	color: #9E9E9E !important;
	font-size: 15px;
	text-transform: capitalize
}
.footer-copy a{
	color: #9E9E9E !important;
}
.footer-copy a:hover{
	color: #9E9E9E !important;
}
footer .icon-contact i{
	vertical-align: middle;
	font-size: 15px;
	padding-right: 10px;
}
footer a:hover{
	text-decoration: none;
}
footer .logo-div i:hover{
	cursor: pointer;
}
footer h3{
	margin-bottom: 15px;
	font-weight: 600;
}
/* footer end  */
/* remove number input arrows  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* remove number input arrows ends */